@import url('@fonts/Rockwell/font-face.css');
@import url('@fonts/Roboto/font-face.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #323e4f;
  --darkgrey: #444444;
}
